main {
  /* width: 1000px; */
  margin: 0 auto;
  /* background: white; */
}

.chart-top {
  background: #fcfcfc;
  border-bottom: 1px solid #b8b8b8;
}
.top {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.top .chart_name div:hover {
  color: #00d344;
}
.top .chart_finder:hover {
  color: #00d344;
}

.chart_name {
  display: flex;
  gap: 24px;
}
.chart_now_name {
  font-size: 24px;
  margin-top: 32px;
}
.now_time {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}
