.header_pc {
  margin: 0 auto;
  /* width: 1008px; */
  height: 194px;
  background: url(//cdnimg.melon.co.kr/resource/image/web/common/gnb_menu_repeat@3x.png)
    0 0 / 60px auto repeat-x;
}

/* utill_menu */
.utill_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* border-bottom: 1px solid #ddd; */

  width: 1000px;
  height: 39px;
  overflow: hidden;

  color: #777;
}
.utill_menu ul {
  display: flex;
  gap: 24px;
}

/* 작동을 안해서 gemini한테 물어본 부분 */
.header_login #logout_button:checked ~ ul {
  display: none;
}
.header_login #login_button:checked ~ ul {
  display: flex;
}

.utill_header {
  display: flex;
  justify-self: left;
  align-items: center;
  gap: 26px;
  padding: 19px;

  margin: 26px auto 0;
}
.logo {
  font-size: 40px;
  font-weight: bold;
  color: #00d344;
}

.serchbar input[type="textbox"] {
  width: 300px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 15px;
}

.top_lank {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.gnb_menu {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin: 5px auto;
}
.gnb_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 12px; */
  background: none;
  padding: 10px 12px;
  font-size: 17px;
}
.gnb_menu ul li {
  margin: 0 6px;
}

.gnb_menu ul li:hover {
  color: #00d344;
}
