.main_pc {
  width: 1008px;
  margin: 20px auto 0;
  /* border: 3px solid green; */
}

.slider {
  width: 1008px;
}

.slider ul {
  height: 150px;
  /* border: 1px solid #ddd; */
  margin-top: 16px;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.song_img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.song_name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}
.artist_name {
  font: 12px;
  color: #777;
  margin-top: 4px;
}

.main_area {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;

  gap: 20px;
  margin-top: 24px;
}

.head_content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.head_content p:first-child {
  font-size: 24px;
}
.head_content p:last-child {
  font-size: 16px;
  color: #777;
}

.content_button {
  display: flex;
  margin-top: 10px;
}
.content_btn_1,
.content_btn_2 {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  cursor: pointer;
}

.main_content {
  width: 750px;
  /* border: 1px solid blue; */
  margin-top: 20px;
}
.content_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 245px;
  margin-bottom: 8px;
}
.card img {
  width: 100%;
}
.card p {
  margin-top: 8px;
}

.content_title {
  width: 223px;
  height: 16px;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
}

.content_artist {
  width: 223px;
  height: 16px;
  overflow: hidden;
  color: #888888;
}

.content_reference {
  color: #7bb710;
}

#card_1,
#card_2 {
  display: none;
}

#card_radio_1:checked ~ #card_1 {
  display: flex;
}

#card_radio_2:checked ~ #card_2 {
  display: flex;
}

/* 사이드바 */

.sidebar {
  background: #e4e4e4;
  border-radius: 10px;
}

.login {
  padding: 0 24px;
}

.login_button {
  margin-top: 32px;
}
.login_button label {
  background: #777;
  padding: 8px 16px;
  border-radius: 4px;
}

.chart {
  width: 90%;

  margin: 32px auto 0;
  /* border: 1px solid red; */
  padding: 4px;
  background: #fff;
}

.chart_name {
  display: flex;
  justify-content: space-between;
}
.chart_name p:last-child {
  font-size: 12px;
  color: #777;
}

.top_100 ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 0 0;
  padding-bottom: 4px;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

.lank_song_title {
  overflow: hidden;
}
